# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

# markdown
'.source.gfm':
  'status':
    'prefix': 'status'
    'body': """
      From my last text status I:
      $1

      To my next status I’ll:
    """

'.source.ruby':
  'rspec focus':
    'prefix': 'focus'
    'body': 'focus: true'

  'rspec let!':
    'prefix': 'let!'
    'body': 'let!(:$1) { $2 }'

  'rspec describe':
    'prefix': 'describe'
    'body': """
      require 'spec_helper'

      describe $1, '$2' do
        $3
      end
    """

'.text.gherkin.feature':
  'debug':
    'prefix': 'pry'
    'body': 'When I debug'

'.source.js':
  'debugger':
    'prefix': 'd'
    'body': 'debugger'
